<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/images/favicon-16x16.png">
    <script defer data-domain="migalmeida.github.io/basecamp" src="https://plausible.io/js/script.outbound-links.js"></script>
  </head>
  <body class="max-w-2xl mx-auto px-4 py-8">
    {{ content }}
  </body>
</html>
